#email-header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0.25rem 0;

  svg {
    margin: 0.5rem 0.6667rem;
  }

  .email-counter {
    margin-left: auto;
  }

  .flat-button {
    margin: 0.5rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.10);
      background-clip: content-box;
      border-radius: 50%/50%;
    }

    &.back-button {
      margin-right: 1rem;
    }
  }
}
