@import '../constants/colors';

#navbar {
  display: flex;
  flex-direction: row;
  height: 4rem;
  border-bottom: $grey 1px solid;
  padding: 0.5rem;

  #menu-column {
    display: inline-flex;
    align-items: center;
    order: 1;
    width: 15rem;
    flex-shrink: 0;

    svg {
      margin-right: 0.5rem;
    }

    .logo-text {
      font-size: 1.5rem;
      font-weight: bolder;
    }
  }

  #search-column {
    display: flex;
    order: 2;

    #search-bar {
      display: inline-flex;
      align-items: center;
      width: 30rem;
      background-color: $light-grey;
      border-radius: 0.5rem;
      padding: 0.5rem;

      svg {
        margin-right: 1rem;
      }
    }
  }

  #user-column {
    display: inline-flex;
    flex-grow: 1;
    order: 3;
    justify-content: flex-end;
    align-items: center;
  }

}
