@import './constants/colors';

.app {
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $background;
}

// default styling
div {
  box-sizing: border-box;
}

// common classes
.flat-button {
  background-color: $background;
  border: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
